:root {
    --background: #212121;
    --primary: rgb(0, 119, 103);
    --secondary: rgb(0, 226, 196);
}

body{
    background: var(--background);
    color: white;
}

header {
    margin:10px 5%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.title {
    color: var(--primary)
}

.subtitle {
    color: var(--secondary)
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    margin-right: auto;
    transition: all 300ms ease 0s;
}

.logo:hover {
    color: var(--primary);
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    display: inline-block;
    transition: all 300ms ease 0s;
}

.menu ul li a:hover {
    color: var(--primary);
}
.menu ul li{
    display: inline-block;
    margin: 10px 10px;
}